        @import url(https://fonts.google.com/specimen/Plus+Jakarta+Sans);
body{
    font-family: Plus Jakarta Sans;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

.profile-picture {
  height: 9vh;
  object-fit: contain;
  margin-left: 3vw;
  margin-right: 3vw;

}   
h5 {
    font-weight: 500;
  color:hsl(219, 12%, 42%);
  margin-bottom: 0;
}
.notificationPopupClass{
    background-color: hsl(210, 60%, 98%);
    margin-top: 2vh;

}
.notificationPopupClass:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.unread{
    border-radius: 50%;
    height: 2px;
}
.name{
    color: hsl(224, 21%, 14%);
    font-weight: 800;
}
.notification-heading{
    color:  hsl(224, 21%, 1);
    font-weight: 800;
}
.notification-no{
    border-radius: 6px;
    padding:1px 9px;
    background-color:hsl(219, 85%, 26%);
color: hsl(0, 0%, 100%);
}
.chess-club{
    color:  hsl(219, 85%, 26%);
    font-weight: 800;
}
.read{
    color: hsl(219, 12%, 42%);
    
}
.profile-picture:hover{
    transform: scale(1.2);
}
.header:hover{
    cursor: pointer;
}
.read:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.notification-colour{
    background-color: hsl(0, 0%, 100%);
    margin-top: 2vh;
}
.time{
    color: hsl(219, 14%, 63%);
}
.fa-solid{
    font-size: .7rem;
    color:hsl(1, 90%, 64%);
}
.my-post{
    color:hsl(224, 21%, 14%);
}
/* font */